:root {
    --color1: #eebb12;
}
footer, section {
    padding: 100px 0;
}
header {
    padding: 200px 100px;
}
.author, .forwhom {
    background-color: #000;
}
.about, .program {
    background-color: #111;
}
header, footer {
    background: url('../img/img.png'), #111;
    background-size: contain;
}
/* Кнопка */
.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    background-color: var(--color1);
}
/* Об авторе */
.author {
    padding-bottom: 0;
}
.itd-img {
    max-width: 360px;
}
/* О курсе*/
.itd-circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 20px auto 20px;
}
/* Для кого курс */
/* Рамки для текста*/
.forwhom h5 {
    padding: 30px;
    height: 100%;
    background-color: #111;
    border: 3px solid var(--color1);
}
/* Цвет */
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--bs-white);
}
.bg1 {
    background-color: var(--bs-black);
}