:root {
    --color1: #05b1b1;
    --color2: #52339a;
}
header, footer, section {
    padding: 100px 0;
}
header {
    padding: 200px 0;
}
header, footer {
    background: url('../images/pattern.png'), var(--color1);
    background: url('../images/pattern.png'), -moz-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url('../images/pattern.png'), -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url('../images/pattern.png'), linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color2), endColorstr=var(--color2),GradientType=1 );
    background-size: contain;
}