{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'java/img/favicon2.ico' %}" type="image/x-icon"/>
  <link rel="stylesheet" href="{% static 'java/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'java/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'java/css/style.css' %}">

  <title>Java</title>
</head>
<body>
<header>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <img src="{% static 'java/img/js.png' %}" alt="Image" class="img-fluid eag mx-auto d-block">
        <h1 class="mb-5">Супер курс по JavaScript</h1>
        <a href="#footer" class="btn btn-lg btn-itd text-uppercase">Заказать</a>
      </div>
    </div>
  </div>
</header>

<section class="author">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase color1 mb-5">об авторе</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <h4>Исмаил Усеинов</h4>
        <p>Занимаюсь веб-разработкой с 2013 года.</p>
        <p>В 2017 году основал обучающий канал ITDoctor. Делюсь своими знаниями в области программирования
        и создания сайтов. Сформировал свою методику обучения, которая позволяет ученикам максимально
        эффективно осваивать изучаемый материал.</p>
        <p>Обучаю языкам HTML, CSS, JavaScript, PHP, работе с препроцессорами, сборщиками и системой контполя
        версий GIT, а также многому другому из мира веб технологий. Уже более тысячи моих учеников научились
        создавать сайты самостоятельно и зарабатывать на этом деньги.</p>
      </div>
    </div>
  </div>
</section>
</div>

<footer id="footer">
33
</footer>

<script src="{% static 'java/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>