{% load static %}

<section class="author">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase color1 mb-5">Об авторе</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <h4>Исмаил Усеинов</h4>
        {% for l in list %}
        <p>{{ l }}</p>
        {% endfor %}
      </div>
      <div class="col-xl-3 col-lg-12 text-center">
        <img src="{% static 'boot/images/author.png' %}" alt="Исмаил Усеинов" class="img-fluid itd-img">
      </div>
    </div>
  </div>
</section>