{% load static %}
{% load boot_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'boot/images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'boot/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'boot/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'boot/css/style.css' %}">

    <title>Мой</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-white">Видео курс по вёрстке для начинающих HTML & CSS</h1>
                    <div class="itd_play" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="itd_triangle"></div>
                    </div>
                    <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Заказать</a>
                </div>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center text-uppercase color1 mb-5">О курсе</h2>
                </div>
            </div>
            <div class="row">

                {% for a in about %}
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="itd_circle"><i class="{{ a.icon }}"></i></div>
                    <h5 class="text-center">{{ a.text }}</h5>
                    <div class="line"></div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="whom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center text-uppercase color2 mb-5">курс для тех, кто</h2>
                </div>
            </div>

            <div class="row mb-5">
                {% for f in whom %}
                <div class="col-md-6 col-sm-12">
                    <h5 class="text-center">{{ f.text }}</h5>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <a href="#footer" class="btn btn-lg text-uppercase btn-itd">Заказать</a>
                </div>
            </div>
        </div>
    </section>

<section class="shedule">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase color1 mb-3">Программа курса</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 col-sm-12">
        <h4 class="text-center fw-bold mb-3 mt-3">Модуль 1<br>(HTML)</h4>
        <div class="accordion accordion-flush" id="accordion1">
          {% for a in acc1 %}
           <div class="accordion-item">
             <h2 class="accordion-header" id="heading{{ a.id }}">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ a.id }}" aria-expanded="false" aria-controls="flush-collapse{{ a.id }}">
                 {{ a.title }}
               </button>
             </h2>
             <div id="flush-collapse{{ a.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ a.id }}" data-bs-parent="#accordion1">
               <div class="accordion-body fst-italic">{{ a.content }}</div>
             </div>
           </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <h4 class="text-center fw-bold mb-3 mt-3">Модуль 2<br>(CSS)</h4>
        <div class="accordion accordion-flush" id="accordion2">
           {% for b in acc2 %}
           <div class="accordion-item">
             <h2 class="accordion-header" id="heading2{{ b.id }}">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2{{ b.id }}" aria-expanded="false" aria-controls="flush-collapse2{{ b.id }}">
                 {{ b.title }}
               </button>
             </h2>
             <div id="flush-collapse2{{ b.id }}" class="accordion-collapse collapse" aria-labelledby="heading2{{ b.id }}" data-bs-parent="#accordion2">
               <div class="accordion-body fst-italic">{{ b.content }}</div>
             </div>
           </div>
           {% endfor %}
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <h4 class="text-center fw-bold mb-3 mt-3">Модуль 3<br>(Практика)</h4>
        <div class="accordion accordion-flush" id="accordion3">
          {% for c in acc3 %}
           <div class="accordion-item">
             <h2 class="accordion-header" id="heading3{{ c.id }}">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3{{ c.id }}" aria-expanded="false" aria-controls="flush-collapse3{{ c2.id }}">
                 {{ c.title }}
               </button>
             </h2>
             <div id="flush-collapse3{{ c.id }}" class="accordion-collapse collapse" aria-labelledby="heading3{{ c.id }}" data-bs-parent="#accordion3">
               <div class="accordion-body fst-italic">{{ c.content }}</div>
             </div>
           </div>
          {% endfor %}
        </div>
      </div>


    </div>
  </div>
</section>

<section class="learning">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase color2 mb-5">Процесс обучения</h2>
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-lg-9 col-sm-12">
        {% get_lear as tmp %}
        {% for g in tmp %}
        <h5>{{ g }}</h5>
        {% endfor %}
      </div>
      <div class="col-lg-3 col-sm-12 mb-sm-5 mt-sm-5 text-center">
        <img src="{% static 'boot/images/mockup.png' %}" alt="Процесс обучения" class="img-fluid" >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Заказать</a>
      </div>
    </div>
  </div>
</section>

{% show_author %}

{% show_otz %}

<section class="buy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase color1 mb-5">Купить</h2>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-sm-5">
        <img src="{% static 'boot/images/preview.png' %}" alt="css-html" class="img-fluid mx-auto d-block">
        <p>Обучающий курс по изучению языка гипертекстовой разметки HTML от автора образовательного
        канала ITDoctor.Это практический видеокурс: в каждой главе теоритический материал будет
        закрепляться множеством наглядных примеров кода.</p>
        <ul>
          <li>35 практических уроков</li>
          <li>Продолжительность 5 часов</li>
          <li>Готовые примеры кода</li>
          <li>Никаких ограничений по времени</li>
          <li>7 домашних заданий</li>
        </ul>
        <div href="#" class="btn btn-itd btn-lg text-uppercase">купить</div>

      </div>

    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {% for f in foot %}
<!--В маил ссылка формата
        href="mailto:ismail@mail.ru?subject=Вопрос по курсу html+css&body=Здравствуйте, ITDoctor,">-->

        <a href="#" target="_blank" class="btn f-btn btn-outline-light"><i class="{{ f.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <div class='embed-container'><iframe src='https://www.youtube.com/embed//V-Rj1GS9anA' frameborder='0' allowfullscreen></iframe></div>

      </div>
    </div>
  </div>
</div>

<script src="{% static 'boot/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>